*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.encabezado{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262626 ;
}
.encabezado img{
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    width: 125px;
    height: 115px;
    margin-right: 40px;
}
.encabezado img:hover{
    transform: scale(0.9);
    filter: drop-shadow(2px 2px 6px whitesmoke);
}
.menu{
    display: flex;
    justify-content: space-between;
}
.extra{
    margin: auto 10px;
    text-decoration: none;
    color: whitesmoke;
    padding-bottom: 5px;
    font-size: 20px;
    transition: 0.1s ease-in-out;
}
.extra:hover{
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, crimson, black)1;
}
.contactos{
    margin: auto 10px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    padding: 5px;
    background: gainsboro;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
        font-size: 20px;
}
.contactos:hover{
    transform: scale(0.9) ;
    filter: drop-shadow(3px 3px 6px crimson);
}
.principal{
    background: #f5f5f5;
}
/* parte del carousel */
.carousel-inner{
    width: 95%;
    padding: 15px;
}
.carousel-inner img{
    height: 85vh;
    border-radius: 20px;
}
/* parte del carousel */

.contenedor_form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nombre{
    margin: 10px;
    font-size: 40px;
    text-decoration: underline;
}
#filtro{
    margin: 10px;
    border-radius: 7px;
    filter: drop-shadow(2px 2px 6px black);
}
#buscar{
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(17, 165, 17);
    color: #f5f5f5;
    transition: 0.6s ease-in-out;
}
#buscar:hover{
    transform: scale(0.9);
    filter: drop-shadow(2px 2px 6px crimson);
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tarjetas{
    height: 650px;
    width: 450px;
    background: #d00d0c;
    margin: 25px 50px;
    border: black solid 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}
.tarjetas:hover{
    transform: scale(0.9);
    filter: drop-shadow(5px 5px 6px black);
}
.tarjetas img{
    height: 450px;
    width: 300px;
    margin: 0 auto;
}
.Texto{
    text-align: center;
    color: #e2e2e1;
}
.Texto p{
    font-size: 15px;
}
.pie{
    background: #262626;
    display: flex;
    justify-content: space-evenly;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info img{
    height: 105px;
    width: 105px;
    margin-top: 10%;
    margin-bottom: 5%;
    transition: 0.4s ease-in-out;
}
.info img:hover{
    filter: drop-shadow(2px 2px 6px white);
    transform: scale(0.8);
}
.info p{
    font-size: 25px;
    color: whitesmoke;
    text-shadow: 4px 4px 6px black;
}
.redes img{
    width: 110px;
    height: 90px;
    transition: 0.5s ease-in-out;
}
.redes img:hover{
    transform: scale(0.9);
    filter: drop-shadow(2px 2px 8px rgb(17, 165, 17));
}
.logos{
    display: flex;
    justify-content: space-evenly;
}
.mapa iframe{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(17, 165, 17);
    transition: 0.5s;
}
.mapa iframe:hover{
    transform: scale(0.9);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav a{
    text-decoration: none;
    color: #ebebeb;
    text-shadow: 4px 4px 6px black;
    font-size: 25px;
    margin: 12.5% 0;
    transition: 0.1s ease-in-out;
    padding-bottom: 5px;
}
.nav a:hover{
    transform: scale(0.9);
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, crimson, black)1;
}
